venv/*
.*
*.pyc
build
atsim.potentials.egg-info/
html/
ignored/
dist/
wheelhouse/
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_d_Al.plt
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_d_AlCu.plt
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_d_Cu.plt
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_F_Al.plt
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_F_Cu.plt
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_p_Al.plt
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_p_AlCu.plt
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_p_Cu.plt
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_q_Al.plt
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_q_AlCu.plt
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_q_Cu.plt
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_ro_Al.plt
tests/lammps_resources/Apostol_Mishin_2011_Al-Cu/Apostol_Mishin_2011_ro_Cu.plt
alcu.pdf
cu.xlsx
