UO2 Equilibration

temperature    300.0
pressure      0.0
ensemble npt hoover 0.01 0.1 

equil 1000
scale 1
steps    10000  
print   1000
stack  1000
stats  10

no index 

timestep 0.001
cutoff     6.5
rvdw cutoff 6.5
ewald precision 1E-8

job time 250000.0
close time 500.0

finish
